from fbchat import ThreadType
# FB credentials
USERNAME = "<FB username>"
PASSWORD = "<FB password>"

# Scanning bounding box
LOCATION_W = "14.240820017805705"   # West most longitude
LOCATION_E = "14.759138020524377"   # East most longitude
LOCATION_N = "46.22983200641623"    # North most latitude
LOCATION_S = "45.870103364048745"   # South most latitude


CHAT = {"thread_id": "<Group chat ID>", "thread_type": ThreadType.GROUP}
ADMIN = {"thread_id": "<Admin user ID>", "thread_type": ThreadType.USER}

TIMEZONE = "Europe/Ljubljana"
